<!DOCTYPE html>
<html lang="en">
<head>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">

<script src="/semantic/dist/semantic.min.js"></script>

<script src="/range.js"></script>

<link rel="stylesheet" type="text/css" href="/range.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Solver</title>
</head>
<body>
<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    {{#unless logged_in}}
    <a class="item">
      Home
    </a>
    <a class="item">
      Login
    </a>
  {{/unless}}	

  {{#if logged_in}}
  	<p class="item">
  	 Welcome: {{email}}	
  	</p>
  	<a class="item" href="/users/sign-out">
  	 Logout	
  	</a>	
    {{#each users}}
    <a class="item">
     {{this.grade}} 
    </a>  
    {{/each}}
  {{/if}}

  </div>
</div>


	<div class="ui container">
			{{{body}}}
	</div>

</body>

</HTML>