<div class="ui container">
<div class="ui two column stackable padded centered grid">
	<div class="column">
		<form class="ui form" action="/problems/create" method="POST">
			<div class="field">
				<h2>Input Your Problem</h2>
				<div class="ui big input">
              		<input type="text" name="issue" placeholder="Input your problem" required>
            	</div>
            </div> 
			<button type="submit" class="ui huge blue button">Go<i class="long arrow right icon"></i></button>
		</form>
	</div>
</div>
<div class="ui two column stackable padded centered grid">
 	<div class="column">
 	  <h3>Step 1: The Problem</h3>	
      <div class="ui violet big progress" data-percent="20" id="progBar">
        <div class="bar"></div>
        <div class="label">Progress</div>
      </div>
    </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#progBar').progress();
})

</script>