<div class="ui one column stackable grid" id="jumbotron">
	<div class="black center aligned column">
		<h1 class="ui inverted header" id="titleBox">SOLVER</h1>
		
		<a href="/users/new" class="huge ui inverted blue button">Get Started</a>

	</div>
</div>

<div class="ui container" id="contentBox">
	<div class="ui two column stackable padded centered grid">
		<div class="row">	
			
			<div class="ui image">
				<img src="/assets/images/decisions.jpg">
			</div>
		</div>
		<div class="row">
			<div class="ui huge header">
			Make Decisions Faster
			</div>	
			
			<h3>Solver is a problem resolving app that assists you with organizing your decision criteria and making prompt choices.</h3>

			<h3>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In molestie nisi vel cursus finibus. Proin eu dui elit. Pellentesque ipsum arcu, tempus id mattis sit amet, tincidunt placerat ante. Quisque imperdiet massa ut viverra viverra. Duis hendrerit tortor vitae ex tincidunt, ac aliquam augue pulvinar. Donec efficitur volutpat laoreet. Nam rutrum ligula tortor, sit amet rhoncus risus egestas in. In hac habitasse platea dictumst.
			</h3>
		</div>

	</div>	
</div>

<div class="ui inverted segment">
	<div class="ui one column stackable padded grid" id="footer">
		<div class="six wide center aligned column">
		
		</div>
		<div class="two wide center aligned column">
			<h3>About</h3>
		</div>
		<div class="two wide center aligned column">
			<h3>Contact</h3>
		</div>
	</div>
</div>