<div class="ui container">
<div class="ui one column stackable padded centered grid">
	<div class="column">
	<h2>Your password has been reset. Please login with your new password.</h2>	
	<h2><a href="/">Go back to user log-in</a></h2>
	</div>	
</div>
</div>