<div class="ui container">
<div class="ui four column stackable padded centered grid">
	<div class="column">
		<form class="ui form" action="/users/forget" method="POST">	

				<h4>Please enter the email associated with your account:</h4>
				<div class="ui huge input">
					<input type="text" id="emailInput" name="email" required>
				</div>	

			<br>
			<br>
			<button type="submit" class="ui huge blue button">Send Request</button>	
		</form>
	</div>	
</div>
</div>